/* Hint! the @font-face rule needs to be the first thing in your CSS file!*/
@font-face {
    font-family: 'proza_librebold';
    src: url('prozalibre-bold-webfont.woff2') format('woff2'),
         url('prozalibre-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proza_librebold_italic';
    src: url('prozalibre-bolditalic-webfont.woff2') format('woff2'),
         url('prozalibre-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proza_libreextrabold';
    src: url('prozalibre-extrabold-webfont.woff2') format('woff2'),
         url('prozalibre-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proza_libreextrabold_italic';
    src: url('prozalibre-extrabolditalic-webfont.woff2') format('woff2'),
         url('prozalibre-extrabolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proza_libreitalic';
    src: url('prozalibre-italic-webfont.woff2') format('woff2'),
         url('prozalibre-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proza_librelight';
    src: url('prozalibre-light-webfont.woff2') format('woff2'),
         url('prozalibre-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proza_librelight_italic';
    src: url('prozalibre-lightitalic-webfont.woff2') format('woff2'),
         url('prozalibre-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proza_libremedium';
    src: url('prozalibre-medium-webfont.woff2') format('woff2'),
         url('prozalibre-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proza_libremedium_italic';
    src: url('prozalibre-mediumitalic-webfont.woff2') format('woff2'),
         url('prozalibre-mediumitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proza_libreregular';
    src: url('prozalibre-regular-webfont.woff2') format('woff2'),
         url('prozalibre-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proza_libresemibold';
    src: url('prozalibre-semibold-webfont.woff2') format('woff2'),
         url('prozalibre-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'proza_libresemibold_italic';
    src: url('prozalibre-semibolditalic-webfont.woff2') format('woff2'),
         url('prozalibre-semibolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Generated by Font Squirrel (https://www.fontsquirrel.com) on November 17, 2016 */



@font-face {
    font-family: 'cinzel_decorativeblack';
    src: url('cinzeldecorative-black-webfont.woff2') format('woff2'),
         url('cinzeldecorative-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cinzel_decorativebold';
    src: url('cinzeldecorative-bold-webfont.woff2') format('woff2'),
         url('cinzeldecorative-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'cinzel_decorativeregular';
    src: url('cinzeldecorative-regular-webfont.woff2') format('woff2'),
         url('cinzeldecorative-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/* Start the CSS*/
body {
	margin: 0;
	padding: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#fcc7f6+0,a3f3f7+31,b7f7dc+68,ffe39e+100 */
	background: #fcc7f6; /* Old browsers */
	background: -moz-linear-gradient(-45deg,  #fcc7f6 0%, #a3f3f7 31%, #b7f7dc 68%, #ffe39e 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  #fcc7f6 0%,#a3f3f7 31%,#b7f7dc 68%,#ffe39e 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  #fcc7f6 0%,#a3f3f7 31%,#b7f7dc 68%,#ffe39e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcc7f6', endColorstr='#ffe39e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#wrapper {
	width: 80%;
	margin: 0 auto;
	padding: 5%;
	background-color: #fff;
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,.15);
}

h1 {
font-style: normal;
font-family:"proza_librebold" sans-serif;
}

h2 {
font-style: normal;
font-family:"proza_librebold" sans-serif;
}

h3 {
font-style: normal;
font-family:"proza_librebold" sans-serif;
}

h4 {
font-style: normal;
font-family:"proza_librebold" sans-serif;
}

h5 {
font-style: normal;
font-family:"proza_librebold" sans-serif;
}

h6 {
font-style: normal;
font-family:"proza_librebold" sans-serif;
}

p {
font-style: normal;
font-family:"cinzel_decorativebold" serif;
}
